.wrath-and-glory.sheet.actor {
  .stats {
    .wrapper .skills {
      .skill label > span:nth-child(1) {
        // Remove artificial space on the left of the skill name to prevent it from wrapping to the next line
        flex: unset;
      }
    }
  }

  .talents.active {
    h1 {
      width: unset;
      min-width: 280px;
    }
  }

  .notes-tab {
    h1 {
      width: unset;
      min-width: 150px;
    }
  }
}