.wrath-and-glory.sheet.actor {
  [data-application-part="stats"] {
    .skills {
      .label {
        span {
          // Remove artificial space on the left of the skill name to prevent it from wrapping to the next line
          flex: unset;

          &:nth-child(3) {
            min-width: 40px;
            padding-right: 2px;
          }
        }
      }
    }
  }
}